@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  height: 100vh;
  font-weight: 600;
}
////////////////////////////////////////////////////////////
nav {
  // background: #e6dace;
  background: #ffffff;
  height: 100px;
  width: 100%;
}
i {
  color: black;
}
.logo {
  color: rgb(0, 0, 0);
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  display: block;
  float: left;
  span {
    color: #ff8000;
    font-size: 20px;
  }
  h2 {
    width: 200px;
  }
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #ff8000;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
#check:checked i {
  transform: rotate(90deg);
}
.container {
  height: 100vh;
  width: 100%;
  .left {
    height: 100vh;
    width: 40%;
    background: #e6dace;
  }
  .center {
    position: absolute;
    top: 30%;
    left: 20%;
    height: 70vh;
    width: 60%;
    background-color: #fcf5ef;
    box-shadow: -13px 3px 20px rgba(0, 0, 0, 0.301);
    display: grid;
    grid-template-columns: 40% 60%;
    .leftInfo {
      background: #eeeceb;
      text-align: center;
      .myImg {
        height: 150px;
        width: 150px;
        background: red;
        border-radius: 50%;
        margin: 40px auto;
      }
      hr {
        border: 2px solid #ff8000;
        width: 80px;
        margin: 30px auto;
      }
      p {
        font-size: 20px;
        color: #757575;
      }
    }
    .rightInfo {
      background: #ffffff;
      h1 {
        font-size: 100px;
        font-weight: bold;
        margin: 30px 0 0 20px;
      }
      h3 {
        margin: 0px 0 10px 20px;
      }
      button {
        border: none;
        outline: none;
        padding: 10px 40px;
        margin: 10px 20px;
      }
      .primary {
        background: #ff8000;
        font-weight: 500;
        border: 2px solid #ff8000;
      }
      .primary:hover {
        background: white;
        transition: 0.3s;
      }
      .secondary {
        background: #ffffff;
        border: 2px solid #ff8000;
      }
      .secondary:hover {
        background: #ff8000;
        color: white;
        cursor: pointer;
        transition: 0.3s;
      }
      p {
        padding: 10px 20px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .center {
    width: 80%;
    height: 70vh;
    grid-template-columns: 40% 60%;
  }
}
////////////////////////////////////////////////////////////

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #cccccc;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 111;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100%;
    .left {
      height: 30vh;
      width: 100%;
      background: #e6dace;
    }
    .center {
      top: 25%;
      left: 10%;
      height: 80vh;
      width: 80%;
      grid-template-columns: 100%;
      grid-template-rows: 40% 60%;
      .leftInfo {
        padding-top: 40px;
        h1 {
          display: inline;
          line-height: 50px;
        }
        hr {
          margin: auto auto;
        }
        .myImg {
          height: 80px;
          width: 80px;
          float: left;
          margin: 10px 20px;
        }
        p {
          width: 100%;
          line-height: 30px;
        }
      }
      .rightInfo {
        h1 {
          font-size: 50px;
          width: 30%;
          font-weight: bold;
          margin: 0;
          padding: 0px 20px;
        }
        h3 {
          width: 50%;
        }
        .buttons {
          float: right;
          margin-top: -105px;
          button {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
    .center {
      .leftInfo {
        display: block;
        hr {
          margin: 10px 45px 0 0;
          float: right;
        }
        p {
          margin-top: 20px;
          margin-left: 55px;
        }
      }
      .rightInfo {
        h1 {
          font-size: 40px;
        }
        h3 {
          width: 100%;
          margin-bottom: 0;
        }
        .buttons {
          margin: 0px;
          padding: 0;
          width: 100%;
          button {
            // margin-left: -20px;

            padding: 5px 15px;
          }
        }
        p {
          font-size: 14px;
          // font-weight: 600;
        }
      }
    }
  }
}
